$background-color: #333;
$text-color: #f9f;

$status-text-color: #fff;

$error-text-color: #f00;

$input-background-color: #fff;
$input-text-color: #000;
$input-focus-background-color: #cff;

$link-text-color: #9f9;
$link-hover-text-color: #9ff;

$button-hover-background-color: #dff;
$button-focus-background-color: #bff;

$chatbox-background-color: #fff;

$font: 'Open Sans', sans-serif;

$light: 300;
$normal: 400;
$bold: 600;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: $font;
  font-weight: $normal;
}

body {
  padding-left: 25%;
  padding-top: 1%;
  width: 50%;
}

.status {
  color: $status-text-color;
  font-weight: $light;
  padding-left: 20px;

  transition: color .1s;
}

.error {
  color: $error-text-color;
  font-weight: $bold;
}

input {
  background-color: $input-background-color;
  border: 0;
  border-radius: 2px;
  color: $input-text-color;

  font-family: $font;

  padding: 2px 5px;

  transition: background-color .3s;

  &:focus {
    background-color: $input-focus-background-color;
  }

  &[type=button] {
    border-radius: 5px;

    &:hover {
      background-color: $button-hover-background-color;
    }

    &:focus {
      background-color: $button-focus-background-color;
    }
  }
}

a {
  color: $link-text-color;
  text-decoration: none;

  transition: color .3s, text-decoration .3s;

  &:hover {
    color: $link-hover-text-color;
    text-decoration: underline;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


nav {
  margin: 0;
  padding: 0;

  ul {
    list-style: none;

    margin: 0;
    padding: 0 0 10px 10px;

    li {
      &::before {
        content: '×';
        padding-right: 10px;
      }
    }
  }
}


table {
  border-collapse: separate;

  tr {
    td {
      &:first-child {
        font-weight: $bold;
        padding-right: 20px;
      }
    }
  }
}

.chatbox {
  background-color: $chatbox-background-color;
  height: 70%;
  margin: 0;
  overflow: auto;
  width: inherit;
}

.msgbox {
  margin: 0;
  padding: 0;

  width: 100%;
}

$user-normal-name-color: #000;
$user-normal-text-color: #000;

$user-admin-name-color: #f00;
$user-admin-text-color: #000;

$user-server-name-color: #0f0;
$user-server-text-color: #0f0;

.chatcontainer {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
}

$chat-message-border-color: #000;

.chat-message {
  border: 1px solid $chat-message-border-color;
  margin: 1px 0;
  padding: 0 3px;

  &.normal {
    color: $user-normal-text-color;

    .user {
      color: $user-normal-name-color;
    }
  }

  &.admin {
    color: $user-admin-text-color;

    .user {
      color: $user-admin-name-color;
    }
  }

  &.server {
    color: $user-server-text-color;
    font-weight: $bold;

    .user {
      color: $user-server-name-color;
    }
  }
}
