$font: 'Open Sans', sans-serif;
$font-size: 14px;

$normal: 400;

html,
body {
  height: 100%;
}


$background-color: #72c4ff;
$background-gradient: #4c8bb8;
$text-color: #09c;

body {
  background: $background-color;
  background-image: linear-gradient(to top, $background-gradient 32%, $background-color 90%);

  color: $text-color;
  font-family: $font;
  font-size: $font-size;
  font-weight: $normal;

  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}


$status-background: #0f0;
$status-background-gradient: #eee;
$status-text-color: #000;

$error-text-color: #000;
$error-background-color: #dc143c;
$error-background-gradient: #eee;

.status {
  background-color: $status-background;
  background-image: linear-gradient(to bottom, $status-background, $status-background-gradient 175px);

  border-radius: 0 0 10px 10px;

  color: $status-text-color;
  font-weight: bold;

  margin: 0 auto 8px;
  padding: 4px 16px;

  text-decoration: none;
  transition: background .2s;

  width: 400px;

  &.error {
    background-color: $error-background-color;
    background-image: linear-gradient(to bottom, $error-background-color, $error-background-gradient 175px);

    color: $error-text-color;
  }
}


$loginform-background-color: #eee;
$loginform-background-gradient: #ccc;
$loginform-border-color: #999;

.loginform {
  background-color: $loginform-background-color;
  background-image: linear-gradient(to bottom, $loginform-background-gradient, $loginform-background-color 175px);

  border: 1px solid $loginform-border-color;
  border-radius: 10px;

  font-weight: bold;

  line-height: 5px;

  margin: auto;
  padding: 0 12px;

  position: relative;

  text-decoration: none;

  width: 300px;

  z-index: 20;
}


$input-background-color: #fff;
$input-border-color: #999;
$input-button-text-color: #fff;
$input-button-background-color: #1ad;
$input-button-hover-background-color: #bee9f7;

input {
  background-color: $input-background-color;

  border: 1px solid $input-border-color;
  display: block;

  height: 25px;
  padding: 0 2px;

  width: 100%;

  &[type=button] {
    background-color: $input-button-background-color;
    border-radius: 15px;
    color: $input-button-text-color;

    cursor: hand;
    // cursor: pointer;

    height: 30px;

    transition: background-color .3s;

    &:hover {
      background-color: $input-button-hover-background-color;
      color: $text-color;
    }
  }
}


$link-text-color: #9f9;
$link-hover-text-color: #9ff;

a {
  color: $link-text-color;
  text-decoration: none;

  transition: color .3s, text-decoration .3s;

  &:hover {
    color: $link-hover-text-color;
    text-decoration: underline;
  }
}


$chatbox-background-color: #fff;
$chatbox-border-color: #000;

.chatbox {
  background-color: $chatbox-background-color;
  border: 1px solid $chatbox-border-color;

  height: calc(70% - 2px);
  margin: 0;

  overflow: auto;
  width: inherit;
}


$msgbox-background-color: #fff;
$msgbox-text-color: #000;
$msgbox-border-color: #000;

.msgbox {
  background-color: $msgbox-background-color;
  border: 1px solid $msgbox-border-color;

  color: $msgbox-text-color;

  height: calc(30% - 4px);

  margin: 0;
  padding: 2px;

  width: calc(100% - 6px);
}

$chatcontainer-border-color: #000;

.chatcontainer {
  border: 2px solid $chatcontainer-border-color;

  height: calc(100% - 4px);

  position: absolute;
  right: 0;

  text-align: left;

  top: 0;

  width: 250px;
}


$chatmessage-border-color: #000;

$default-name-color: #000;
$user-admin-name-color: #fff;

$default-text-color: #000;
$user-admin-text-color: #fff;

$user-admin-background-color: #000;
$user-server-background-color: #f0e68c;
$user-server-border-color: #080;

.chat-message {
  border: 1px solid $chatmessage-border-color;
  color: $default-text-color;

  margin: 0 0 1px;
  padding: 0 2px;

  word-wrap: break-word;

  .user {
    color: $default-name-color;
    font-weight: bold;
  }

  &.admin {
    background-color: $user-admin-background-color;
    color: $user-admin-text-color;

    .user {
      color: $user-admin-name-color;
    }
  }

  &.server {
    background-color: $user-server-background-color;
    border: 1px solid $user-server-border-color;
  }
}
