/* line 6, style.scss */
html,
body {
  height: 100%; }

/* line 16, style.scss */
body {
  background: #72c4ff;
  background-image: linear-gradient(to top, #4c8bb8 32%, #72c4ff 90%);
  color: #09c;
  font-family: "Tahoma", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center; }

/* line 41, style.scss */
.status {
  background-color: #0f0;
  background-image: linear-gradient(to bottom, #0f0, #eee 175px);
  border-radius: 0 0 10px 10px;
  color: #000;
  font-weight: bold;
  margin: 0 auto 8px;
  padding: 4px 16px;
  text-decoration: none;
  transition: background .2s;
  width: 400px; }
  /* line 58, style.scss */
  .status.error {
    background-color: #dc143c;
    background-image: linear-gradient(to bottom, #dc143c, #eee 175px);
    color: #000; }

/* line 77, style.scss */
.loginform {
  background-color: #eee;
  background-image: linear-gradient(to top, #ccc, #eee 175px);
  border: 1px solid #999;
  border-radius: 10px;
  font-weight: bold;
  line-height: 5px;
  margin: auto;
  padding: 0 12px 12px;
  position: relative;
  text-decoration: none;
  width: 300px;
  z-index: 20; }
  /* line 99, style.scss */
  .loginform input {
    background-color: #fff;
    border: 1px solid #999;
    display: block;
    height: 25px;
    padding: 0 2px;
    width: calc(100% - 6px); }
    /* line 110, style.scss */
    .loginform input[type=button] {
      background-color: #1ad;
      border-radius: 15px;
      color: #fff;
      cursor: pointer;
      height: 30px;
      margin: auto;
      transition: background-color .3s;
      width: 80%; }
      /* line 124, style.scss */
      .loginform input[type=button]:hover {
        background-color: #bee9f7;
        color: #09c; }

/* line 135, style.scss */
.overlay {
  background: #222;
  left: 0px;
  padding: 2px;
  position: absolute;
  top: 0px;
  z-index: 100; }

/* line 150, style.scss */
.clickable {
  background: #ccc;
  background-image: linear-gradient(to top, #ccc, #eee 175px);
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  font-size: 12px;
  margin: 2px;
  padding: 2px; }
  /* line 161, style.scss */
  .clickable:hover {
    background: #eee;
    background-image: linear-gradient(to top, #eee, #fff 175px); }

/* line 170, style.scss */
a {
  color: #3cf;
  text-decoration: none;
  transition: text-decoration .3s; }
  /* line 176, style.scss */
  a:hover {
    text-decoration: underline; }

/* line 185, style.scss */
.chatbox {
  background-color: #fff;
  border: 1px solid #000;
  height: calc(70% - 2px);
  margin: 0;
  overflow: auto;
  width: inherit; }

/* line 201, style.scss */
.msgbox {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  height: calc(30% - 4px);
  margin: 0;
  padding: 2px;
  resize: none;
  width: calc(100% - 6px); }

/* line 220, style.scss */
.chatcontainer {
  border: 2px solid #000;
  height: calc(100% - 4px);
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 250px; }

/* line 248, style.scss */
.chat-message {
  border: 1px solid #000;
  color: #000;
  margin: 0 0 1px;
  padding: 0 2px 2px;
  word-wrap: break-word; }
  /* line 257, style.scss */
  .chat-message .user {
    color: #000;
    font-weight: bold; }
  /* line 262, style.scss */
  .chat-message.admin {
    background-color: #000;
    color: #fff; }
    /* line 266, style.scss */
    .chat-message.admin .user {
      color: #fff; }
  /* line 271, style.scss */
  .chat-message.server {
    background-color: #f0e68c;
    border: 1px solid #080; }

/*# sourceMappingURL=style.css.map */
